In [3]:
import pandas as pd

#Define a dictionary 'x'

x = { 'Name': ['Rose','John', 'Jane', 'Mary'], 
      'ID': [1, 2, 3, 4], 
      'Department': ['Architect Group', 'Software Group', 'Design Team', 'Infrastructure'], 
      'Salary':[100000, 80000, 50000, 60000]}

#casting the dictionary to a DataFrame
df = pd.DataFrame(x)

#display the result df
df

   Name  ID       Department  Salary
0  Rose   1  Architect Group  100000
1  John   2   Software Group   80000
2  Jane   3      Design Team   50000
3  Mary   4   Infrastructure   60000